[user]
    name = qfjp
    email = qfjp@users.noreply.github.com
[color]
    diff = auto
    status = auto
    branch = auto
[core]
    pager = less
[merge]
    tool = vimdiff
[pager]
    status = false
[alias]
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg2"
    tree = "forest --pretty=format:\"%C(red)%h %C(magenta)(%ar) %C(blue)%an %C(reset)%s\" --style=15 --reverse"
[push]
    default = simple
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE
[difftool "kitty"]
    cmd = kitten diff $LOCAL $REMOTE
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[pull]
    rebase = false
[safe]
	directory = /srv/podfetch
	directory = /opt/whisper-asr-webservice
	directory = /srv/whisper-asr-webservice
	directory = /srv/micro-gpodder-server
	directory = /srv/podfetch/PodFetch
	directory = /srv/whisper-asr-webservice/cloned
[init]
	defaultBranch = master
