[submodule "hypr/.config/hypr/plugins/Hypr-DarkWindow"]
	path = hypr/.config/hypr/plugins/Hypr-DarkWindow
	url = https://github.com/micha4w/Hypr-DarkWindow
[submodule "hypr/.config/hypr/plugins/hyprscroller"]
	path = hypr/.config/hypr/plugins/hyprscroller
	url = https://github.com/dawsers/hyprscroller
