/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */

* {
    margin: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    border-radius: 15px;
    font-family: JetBrains Mono;
    font-size: 14px;
    min-height: 1px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    padding-left: 16px;
    padding-right: 16px;
    color: #f8f8f2;
    background: #282a36;
}
#window.title {
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #f8f8f2;
    background: #282a36;
}
#window.class {
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #f8f8f2;
    background: #282a36;
    font-style: italic;
}


window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #4d4d4d;
    background: #e6e6e6;
}

#workspaces {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 0px;
    padding-right: 5px;
    background: #c5c5c5;
    color: #50525e;
}

#workspaces button {
    color: #50525e;
    background: transparent;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#workspaces button.active {
    color: #30312C;
    background: #5ED0F7;
}


#workspaces button.empty {
    color: #8c8e9a;
}

#workspaces button:hover {
    color: #a1efe4;
    background-color: #0E80A7;
}

#mpd {
    padding-left: 16px;
    padding-right: 0;
    color: #8c8e9a;
    background: #1E202C;
}

/*#mpd.disconnected,
#mpd.stopped {
}*/

#tray {
    padding-left: 16px;
    padding-right: 16px;
    color: #8c8e9a;
    background: #1E202C;
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#network {
    padding-left: 16px;
    padding-right: 16px;
    color: #f8f8f2;
    background: #282a36;
}

#pulseaudio {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
#pulseaudio.sink {
    color: #c5c5c5;
    background: #50525e;
}
#pulseaudio.source {
    color: #c5c5c5;
    background: #50525e;
}
#pulseaudio:hover {
    color: #ededed;
}

#temperature {
    padding-left: 16px;
    padding-right: 16px;
    color: #4d4d4d;
    background: #5af78e;
}

#custom-scroller-mode {
    border-radius: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 13px;
    padding-right: 16px;
    color: #c5c5c5;
    background: #50525e;
}

#custom-scroller-trail {
    margin-left: 0px;
    padding-left: 8px;
    padding-right: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #c5c5c5;
    background: #50525e;
}

#cpu {
    padding-left: 16px;
    padding-right: 16px;
    color: #4d4d4d;
    background: #f1fa8c;
}

#memory {
    padding-left: 16px;
    padding-right: 16px;
    color: #4d4d4d;
    background: #ff6e67;
}

#clock {
    padding-left: 8px;
    padding-right: 8px;
    color: #30312C;
    background: #5ED0F7;
}
#clock.time {
    font-weight: bold;
    margin-left: -25px;
}
#clock.date {
    font-style: italic;
    font-weight: bold;
    padding-right: 30px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 0px;
    color: #745230;
    background: #c5c5c5;
}
